html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: url('./image.jpg') no-repeat center center;
}

@font-face {
    font-family: 'juicy_fruity_highlightsRg';
    src: url('./fonts/juicy_fruity_highlights-webfont.woff2') format('woff2'), url('./fonts/juicy_fruity_highlights-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'juicy_fruity_highlightsRg';
}